name: Deploy

on:
  push:

jobs:
  deploy:
    permissions:
      id-token: write
      packages: write

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - uses: docker/build-push-action@v6
      with:
        push: true
        tags: ghcr.io/${{ github.repository }}:${{ github.sha }}

    - uses: google-github-actions/auth@v2
      with:
        workload_identity_provider: projects/835576187843/locations/global/workloadIdentityPools/wsh2025/providers/github-actions
        service_account: wsh2025@akimon658.iam.gserviceaccount.com

    - uses: google-github-actions/setup-gcloud@v2

    - run: gcloud compute instances update-container wsh-2025 --zone us-west1-a --container-image ghcr.io/${{ github.repository }}:${{ github.sha }}
